@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap');
@import url('https://allfont.net/allfont.css?fonts=courier-new');


.form__container {
    width: 100%;
    height: auto;
    background-color: #eee;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 20px;
    position: relative;
}

input {
    width: 230px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 20px;
}

.form__container button {
    position: absolute;
    right: 20px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 20px;
    border: none;
    background-color: #008080;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
}